'.source.nsis':
  '!include CPUFeatures.nsh':
    'prefix': 'CPUFeatures.nsh'
    'body': '!include CPUFeatures.nsh'
  '!include DlgHost.nsh':
    'prefix': 'DlgHost.nsh'
    'body': '!include DlgHost.nsh'
  '!include DotNetChecker.nsh':
    'prefix': 'DotNetChecker.nsh'
    'body': '!include DotNetChecker.nsh'
  '!include Locate.nsh':
    'prefix': 'Locate.nsh'
    'body': '!include Locate.nsh'
  '!include MUIEx.nsh':
    'prefix': 'MUIEx.nsh'
    'body': '!include MUIEx.nsh'
  '!include name2ip.nsh':
    'prefix': 'name2ip.nsh'
    'body': '!include name2ip.nsh'
  '!include nsArray.nsh':
    'prefix': 'nsArray.nsh'
    'body': '!include nsArray.nsh'
  '!include NsExpr.nsh':
    'prefix': 'NsExpr.nsh'
    'body': '!include NsExpr.nsh'
  '!include NSISList.nsh':
    'prefix': 'NSISList.nsh'
    'body': '!include NSISList.nsh'
  '!include NSISpcre.nsh':
    'prefix': 'NSISpcre.nsh'
    'body': '!include NSISpcre.nsh'
  '!include nsisXML.nsh':
    'prefix': 'nsisXML.nsh'
    'body': '!include nsisXML.nsh'
  '!include nsKeyHook.nsh':
    'prefix': 'nsKeyHook.nsh'
    'body': '!include nsKeyHook.nsh'
  '!include nsProcess.nsh':
    'prefix': 'nsProcess.nsh'
    'body': '!include nsProcess.nsh'
  '!include nsResize.nsh':
    'prefix': 'nsResize.nsh'
    'body': '!include nsResize.nsh'
  '!include nsThread.nsh':
    'prefix': 'nsThread.nsh'
    'body': '!include nsThread.nsh'
  '!include OLEDB.nsh':
    'prefix': 'OLEDB.nsh'
    'body': '!include OLEDB.nsh'
  '!include Registry.nsh':
    'prefix': 'Registry.nsh'
    'body': '!include Registry.nsh'
  '!include Stack.nsh':
    'prefix': 'Stack.nsh'
    'body': '!include Stack.nsh'
  '!include StdUtils.nsh':
    'prefix': 'StdUtils.nsh'
    'body': '!include StdUtils.nsh'
  '!include TextReplace.nsh':
    'prefix': 'TextReplace.nsh'
    'body': '!include TextReplace.nsh'
  '!include Time.nsh':
    'prefix': 'Time.nsh'
    'body': '!include Time.nsh'
  '!include UAC.nsh':
    'prefix': 'UAC.nsh'
    'body': '!include UAC.nsh'
  '!include UMUI.nsh':
    'prefix': 'UMUI.nsh'
    'body': '!include UMUI.nsh'
  '!include XiMoL.nsh':
    'prefix': 'XiMoL.nsh'
    'body': '!include XiMoL.nsh'
  '!include XML.nsh':
    'prefix': 'XML.nsh'
    'body': '!include XML.nsh'
  '!include ZipDLL.nsh':
    'prefix': 'ZipDLL.nsh'
    'body': '!include ZipDLL.nsh'
