".source.nsis":
  "EnVar::SetHKCU":
    body: "EnvVar::SetHKCU$0"
    description: "Usage: EnvVar::SetHKCU "
    descriptionMoreURL: "http://nsis.sourceforge.net/EnVar_plug-in"
    leftLabelHTML: "<span class='support class'>EnVar.dll</span>"
    prefix: "EnvVar::SetHKCU"
  "EnVar::SetHKLM":
    body: "EnvVar::SetHKLM$0"
    description: "Usage: EnvVar::SetHKLM "
    descriptionMoreURL: "http://nsis.sourceforge.net/EnVar_plug-in"
    leftLabelHTML: "<span class='support class'>EnVar.dll</span>"
    prefix: "EnvVar::SetHKLM"
  "EnVar::Check":
    body: "EnvVar::Check ${1:variable} \"${2:path}\"$0"
    description: "Usage: EnvVar::Check variable_name path"
    descriptionMoreURL: "http://nsis.sourceforge.net/EnVar_plug-in"
    leftLabelHTML: "<span class='support class'>EnVar.dll</span>"
    prefix: "EnvVar::Check"
  "EnVar::AddValue":
    body: "EnvVar::AddValue ${1:variable} \"${2:path}\"$0"
    description: "Usage: EnvVar::AddValue variable_name path"
    descriptionMoreURL: "http://nsis.sourceforge.net/EnVar_plug-in"
    leftLabelHTML: "<span class='support class'>EnVar.dll</span>"
    prefix: "EnvVar::AddValue"
  "EnVar::AddValueEx":
    body: "EnvVar::AddValueEx ${1:variable} \"${2:path}\"$0"
    description: "Usage: EnvVar::AddValueEx variable_name path"
    descriptionMoreURL: "http://nsis.sourceforge.net/EnVar_plug-in"
    leftLabelHTML: "<span class='support class'>EnVar.dll</span>"
    prefix: "EnvVar::AddValueEx"
  "EnVar::DeleteValue":
    body: "EnvVar::DeleteValue ${1:variable} \"${2:path}\"$0"
    description: "Usage: EnvVar::DeleteValue variable_name path"
    descriptionMoreURL: "http://nsis.sourceforge.net/EnVar_plug-in"
    leftLabelHTML: "<span class='support class'>EnVar.dll</span>"
    prefix: "EnvVar::DeleteValue"
  "EnVar::Delete":
    body: "EnvVar::Delete ${1:variable}$0"
    description: "Usage: EnvVar::Delete variable_name"
    descriptionMoreURL: "http://nsis.sourceforge.net/EnVar_plug-in"
    leftLabelHTML: "<span class='support class'>EnVar.dll</span>"
    prefix: "EnvVar::Delete"
