'.source.nsis':
  'Aero::Apply':
    'prefix': 'Aero::Apply'
    'body': 'Aero::Apply "${1:options}"'
  'Aero::Apply /NOBRANDING':
    'prefix': 'Aero::Apply /NOBRANDING'
    'body': 'Aero::Apply /NOBRANDING "${1:options}"'
