'.source.nsis':
  'ScrollLicense::Set':
    'prefix': 'ScrollLicense::Set'
    'body': 'ScrollLicense::Set /NOUNLOAD$1'
  'ScrollLicense::Unload':
    'prefix': 'ScrollLicense::Unload'
    'body': 'ScrollLicense::Unload$1'
