'.source.nsis':
  'ProxySettings::GetConnectionCount':
    'prefix': 'ProxySettings::GetConnectionCount'
    'body': 'ProxySettings::GetConnectionCount \$${1:var}$2'
  'ProxySettings::GetConnectionName':
    'prefix': 'ProxySettings::GetConnectionName'
    'body': 'ProxySettings::GetConnectionName \$${1:var}$2'
  'ProxySettings::GetConnectionProxy':
    'prefix': 'ProxySettings::GetConnectionProxy'
    'body': 'ProxySettings::GetConnectionProxy \$${1:var}$2'
  'ProxySettings::SetConnectionProxy':
    'prefix': 'ProxySettings::SetConnectionProxy'
    'body': 'ProxySettings::SetConnectionProxy \$${1:var}$2'
  'ProxySettings::SetConnectionProxyByProtocol':
    'prefix': 'ProxySettings::SetConnectionProxyByProtocol'
    'body': 'ProxySettings::SetConnectionProxyByProtocol \$${1:var}$2'
