'.source.nsis':
  '${Registry::Close}':
    'prefix': '${Registry::Close}'
    'body': '\${Registry::Close} "${1:handle}"'
  '${Registry::CopyKey}':
    'prefix': '${Registry::CopyKey}'
    'body': '\${Registry::CopyKey} "${1:full_path_source}" "${2:full_path_target\new_key_name}" \$${3:var}'
  '${Registry::CopyValue}':
    'prefix': '${Registry::CopyValue}'
    'body': '\${Registry::CopyValue} "${1:full_path_source}" "${2:value_source}" "${3:full_path_target}" "${4:value_source}" \$${5:var}'
  '${Registry::CreateKey}':
    'prefix': '${Registry::CreateKey}'
    'body': '\${Registry::CreateKey} "${1:full_path}" \$${2:var}'
  '${Registry::DeleteKeyEmpty}':
    'prefix': '${Registry::DeleteKeyEmpty}'
    'body': '\${Registry::DeleteKeyEmpty} "${1:full_path}" \$${2:var}'
  '${Registry::DeleteKey}':
    'prefix': '${Registry::DeleteKey}'
    'body': '\${Registry::DeleteKey} "${1:full_path}" \$${2:var}'
  '${Registry::DeleteValue}':
    'prefix': '${Registry::DeleteValue}'
    'body': '\${Registry::DeleteValue} "${1:full_path}" "${2:value}" \$${3:var}'
  '${Registry::Find}':
    'prefix': '${Registry::Find}'
    'body': '\${Registry::Find} "${1:handle}" "${2:options}" \$${3:path} \$${4:value_or_key} \$${5:string} \$${6:type}'
  '${Registry::HexToStr}':
    'prefix': '${Registry::HexToStr}'
    'body': '\${Registry::HexToStr} "${1:string}" \$${2:var}'
  '${Registry::KeyExists}':
    'prefix': '${Registry::KeyExists}'
    'body': '\${Registry::KeyExists} "${1:full_path}" \$${2:var}'
  '${Registry::MoveKey}':
    'prefix': '${Registry::MoveKey}'
    'body': '\${Registry::MoveKey} "${1:full_path_source}" "${2:full_path_target\new_key_name}" \$${3:var}'
  '${Registry::MoveValue}':
    'prefix': '${Registry::MoveValue}'
    'body': '\${Registry::MoveValue} "${1:full_path_source}" "${2:value_source}" "${3:full_path_target}" "${4:value_source}" \$${5:var}'
  '${Registry::Open}':
    'prefix': '${Registry::Open}'
    'body': '\${Registry::Open} "${1:full_path}" "${2:options}" \$${3:var}'
  '${Registry::ReadExtra}':
    'prefix': '${Registry::ReadExtra}'
    'body': '\${Registry::ReadExtra} "${1:full_path}" "${2:value}" "${3:number}" \$${4:value_read} \$${5:type_read}'
  '${Registry::Read}':
    'prefix': '${Registry::Read}'
    'body': '\${Registry::Read} "${1:full_path}" "${2:value}" \$${3:value_read} \$${4:type_read}'
  '${Registry::RestoreKey}':
    'prefix': '${Registry::RestoreKey}'
    'body': '\${Registry::RestoreKey} "${1:file}" \$${2:var}'
  '${Registry::SaveKey}':
    'prefix': '${Registry::SaveKey}'
    'body': '\${Registry::SaveKey} "${1:full_path}" "${2:file}" "${3:options}" \$${4:var}'
  '${Registry::StrToHex}':
    'prefix': '${Registry::StrToHex}'
    'body': '\${Registry::StrToHex} "${1:string}" \$${2:var}'
  '${Registry::Unload}':
    'prefix': '${Registry::Unload}'
    'body': '\${Registry::Unload}'
  '${Registry::WriteExtra}':
    'prefix': '${Registry::WriteExtra}'
    'body': '\${Registry::WriteExtra} "${1:full_path}" "${2:value}" "${3:string}" \$${4:var}'
  '${Registry::Write}':
    'prefix': '${Registry::Write}'
    'body': '\${Registry::Write} "${1:full_path}" "${2:value}" "${3:string}" "${4:type}" \$${5:var}'
