'.source.nsis':
  'nsisSlideshow::show':
    'prefix': 'nsisSlideshow::show'
    'body': 'nsisSlideshow::show /NOUNLOAD "${1:picture}"$2'
  'nsisSlideshow::show [/options]':
    'prefix': 'nsisSlideshow::show [/options]'
    'body': 'nsisSlideshow::show /NOUNLOAD ${1:options} "${2:picture}"$3'
  'nsisSlideshow::stop':
    'prefix': 'nsisSlideshow::stop'
    'body': 'nsisSlideshow::stop$1'
