'.source.nsis':
  'CDRom::Close':
    'prefix': 'CDRom::Close'
    'body': 'CDRom::Close "${1:drive}" .${2:R0}'
  'CDRom::FindNext':
    'prefix': 'CDRom::FindNext'
    'body': 'CDRom::FindNext /NOUNLOAD "${1:drive}" .${2:R0}'
  'CDRom::Open':
    'prefix': 'CDRom::Open'
    'body': 'CDRom::Open "${1:drive}" .${2:R0}'
  'CDRom::Status':
    'prefix': 'CDRom::Status'
    'body': 'CDRom::Status "${1:drive}" .${2:R0}'
  'CDRom::VolumeName':
    'prefix': 'CDRom::VolumeName'
    'body': 'CDRom::VolumeName "${1:drive}" .${2:R0}'
  'CDRom::VolumeSerialNumber':
    'prefix': 'CDRom::VolumeSerialNumber'
    'body': 'CDRom::VolumeSerialNumber "${1:drive}" .${2:R0}'
