'.source.nsis':
  'nsWeb::IsInet':
    'prefix': 'nsWeb::IsInet'
    'body': 'nsWeb::IsInet ${1:var}'
  'nsWeb::ShowHTMLInPage':
    'prefix': 'nsWeb::ShowHTMLInPage'
    'body': 'nsWeb::ShowHTMLInPage "${1:html_string}"'
  'nsWeb::ShowWebInPage':
    'prefix': 'nsWeb::ShowWebInPage'
    'body': 'nsWeb::ShowWebInPage "${1:url_or_html}"'
  'nsWeb::ShowWebInPopUp':
    'prefix': 'nsWeb::ShowWebInPopUp'
    'body': 'nsWeb::ShowWebInPopUp "${1:url_or_html}"'
