'.source.nsis':
  'Unicode::FileAnsi2Unicode':
    'prefix': 'Unicode::FileAnsi2Unicode'
    'body': 'Unicode::FileAnsi2Unicode "${1:input}" "${2:input}" ${3:type}$4'
  'Unicode::FileUnicode2Ansi':
    'prefix': 'Unicode::FileUnicode2Ansi'
    'body': 'Unicode::FileUnicode2Ansi "${1:input}" "${2:input}" ${3:type}$4'
  'Unicode::FileUnicode2UTF8':
    'prefix': 'Unicode::FileUnicode2UTF8'
    'body': 'Unicode::FileUnicode2UTF8 "${1:input}" "${2:input}" ${3:type}$4'
  'Unicode::UnicodeType':
    'prefix': 'Unicode::UnicodeType'
    'body': 'Unicode::UnicodeType "${1:input}"$2'
