'.source.nsis':
  'InstallOptionsEx::initDialog':
    'prefix': 'InstallOptionsEx::initDialog'
    'body': 'InstallOptionsEx::initDialog "${1:file}.ini"$2'
  'InstallOptionsEx::initDialog /NOUNLOAD':
    'prefix': 'InstallOptionsEx::initDialog /NOUNLOAD'
    'body': 'InstallOptionsEx::initDialog /NOUNLOAD "${1:file}.ini"$2'
  'InstallOptionsEx::show':
    'prefix': 'InstallOptionsEx::show'
    'body': 'InstallOptionsEx::show$1'
