'.source.nsis':
  '!define UMUI_ALTERNATEUNWELCOMEFINISHABORTPAGE_INI':
    'prefix': 'UMUI_ALTERNATEUNWELCOMEFINISHABORTPAGE_INI'
    'body': '!define UMUI_ALTERNATEUNWELCOMEFINISHABORTPAGE_INI "${1:ini_file}"'
  '!define UMUI_ALTERNATEWELCOMEFINISHABORTPAGE_INI':
    'prefix': 'UMUI_ALTERNATEWELCOMEFINISHABORTPAGE_INI'
    'body': '!define UMUI_ALTERNATEWELCOMEFINISHABORTPAGE_INI "${1:ini_file}"'
  '!macro UMUI_BG':
    'prefix': 'UMUI_BG'
    'body': """
      !macro UMUI_BG
      	${1:# your code here}
      !macroend
    """
  '!macro UMUI_BG_Destroy':
    'prefix': 'UMUI_BG_Destroy'
    'body': """
      !macro UMUI_BG_Destroy
      	${1:# your code here}
      !macroend
    """
  '!define UMUI_BOTTOMIMAGE_BMP':
    'prefix': 'UMUI_BOTTOMIMAGE_BMP'
    'body': '!define UMUI_BOTTOMIMAGE_BMP "${1:bmp_file}"'
  '!define UMUI_BRANDINGTEXTBACKCOLOR':
    'prefix': 'UMUI_BRANDINGTEXTBACKCOLOR'
    'body': '!define UMUI_BRANDINGTEXTBACKCOLOR "${1:RRGGBB}"'
  '!define UMUI_BRANDINGTEXTFRONTCOLOR':
    'prefix': 'UMUI_BRANDINGTEXTFRONTCOLOR'
    'body': '!define UMUI_BRANDINGTEXTFRONTCOLOR "${1:RRGGBB}"'
  '!define UMUI_CUSTOM_SKIN':
    'prefix': 'UMUI_CUSTOM_SKIN'
    'body': '!define UMUI_CUSTOM_SKIN "${1:custom_skin_path}"'
  '!define UMUI_HEADERIMAGE_BMP':
    'prefix': 'UMUI_HEADERIMAGE_BMP'
    'body': '!define UMUI_HEADERIMAGE_BMP "${1:bmp_file}"'
  '!define UMUI_LEFTIMAGE_BMP':
    'prefix': 'UMUI_LEFTIMAGE_BMP'
    'body': '!define UMUI_LEFTIMAGE_BMP "${1:bmp_file}"'
  '!define UMUI_NO_BOTTOMIMAGE':
    'prefix': 'UMUI_NO_BOTTOMIMAGE'
    'body': '!define UMUI_NO_BOTTOMIMAGE'
  '!insertmacro UMUI_PAGE_ABORT':
    'prefix': 'UMUI_PAGE_ABORT'
    'body': '!insertmacro UMUI_PAGE_ABORT'
  '!insertmacro UMUI_PAGE_ADDITIONALTASKS':
    'prefix': 'UMUI_PAGE_ADDITIONALTASKS'
    'body': '!insertmacro UMUI_PAGE_ADDITIONALTASKS "${1:page_id}" "${1:function}"'
  '!insertmacro UMUI_PAGE_ALTERNATIVESTARTMENU':
    'prefix': 'UMUI_PAGE_ALTERNATIVESTARTMENU'
    'body': '!insertmacro UMUI_PAGE_ALTERNATIVESTARTMENU "${1:page_id}" \$${2:var}'
  '!insertmacro UMUI_PAGE_CONFIRM':
    'prefix': 'UMUI_PAGE_CONFIRM'
    'body': '!insertmacro UMUI_PAGE_CONFIRM'
  '!insertmacro UMUI_PAGE_FILEDISKREQUEST':
    'prefix': 'UMUI_PAGE_FILEDISKREQUEST'
    'body': '!insertmacro UMUI_PAGE_FILEDISKREQUEST'
  '!insertmacro UMUI_PAGE_INFORMATION':
    'prefix': 'UMUI_PAGE_INFORMATION'
    'body': '!insertmacro UMUI_PAGE_INFORMATION "${1:text_file}"'
  '!insertmacro UMUI_PAGE_MAINTENANCE':
    'prefix': 'UMUI_PAGE_MAINTENANCE'
    'body': '!insertmacro UMUI_PAGE_MAINTENANCE'
  '!insertmacro UMUI_PAGE_MULTILANGUAGE':
    'prefix': 'UMUI_PAGE_MULTILANGUAGE'
    'body': '!insertmacro UMUI_PAGE_MULTILANGUAGE'
  '!insertmacro UMUI_PAGE_SERIALNUMBER':
    'prefix': 'UMUI_PAGE_SERIALNUMBER'
    'body': '!insertmacro UMUI_PAGE_SERIALNUMBER "${1:function}"'
  '!insertmacro UMUI_PAGE_SETUPTYPE':
    'prefix': 'UMUI_PAGE_SETUPTYPE'
    'body': '!insertmacro UMUI_PAGE_SETUPTYPE'
  '!insertmacro UMUI_PAGE_UPDATE':
    'prefix': 'UMUI_PAGE_UPDATE'
    'body': '!insertmacro UMUI_PAGE_UPDATE'
  '!define UMUI_SKIN':
    'prefix': 'UMUI_SKIN'
    'body': '!define UMUI_SKIN "${1:skin_name}"'
  '!define UMUI_TEXT_LIGHTCOLOR':
    'prefix': 'UMUI_TEXT_LIGHTCOLOR'
    'body': '!define UMUI_TEXT_LIGHTCOLOR "${1:RRGGBB}"'
  '!define UMUI_UI':
    'prefix': 'UMUI_UI'
    'body': '!define UMUI_UI "${1:ui_file}"'
  '!define UMUI_UI_COMPONENTSPAGE_NODESC':
    'prefix': 'UMUI_UI_COMPONENTSPAGE_NODESC'
    'body': '!define UMUI_UI_COMPONENTSPAGE_NODESC "${1:ui_file}"'
  '!define UMUI_UI_COMPONENTSPAGE_SMALLDESC':
    'prefix': 'UMUI_UI_COMPONENTSPAGE_SMALLDESC'
    'body': '!define UMUI_UI_COMPONENTSPAGE_SMALLDESC "${1:ui_file}"'
  '!define UMUI_UNBOTTOMIMAGE_BMP':
    'prefix': 'UMUI_UNBOTTOMIMAGE_BMP'
    'body': '!define UMUI_UNBOTTOMIMAGE_BMP "${1:bmp_file}"'
  '!define UMUI_UNHEADERIMAGE_BMP':
    'prefix': 'UMUI_UNHEADERIMAGE_BMP'
    'body': '!define UMUI_UNHEADERIMAGE_BMP "${1:bmp_file}"'
  '!define UMUI_UNLEFTIMAGE_BMP':
    'prefix': 'UMUI_UNLEFTIMAGE_BMP'
    'body': '!define UMUI_UNLEFTIMAGE_BMP "${1:bmp_file}"'
  '!insertmacro UMUI_UNPAGE_ABORT':
    'prefix': 'UMUI_UNPAGE_ABORT'
    'body': '!insertmacro UMUI_UNPAGE_ABORT'
  '!insertmacro UMUI_UNPAGE_ADDITIONALTASKS':
    'prefix': 'UMUI_UNPAGE_ADDITIONALTASKS'
    'body': '!insertmacro UMUI_UNPAGE_ADDITIONALTASKS "${1:page_id}" "${1:function}"'
  '!insertmacro UMUI_UNPAGE_CONFIRM':
    'prefix': 'UMUI_UNPAGE_CONFIRM'
    'body': '!insertmacro UMUI_UNPAGE_CONFIRM'
  '!insertmacro UMUI_UNPAGE_FILEDISKREQUEST':
    'prefix': 'UMUI_UNPAGE_FILEDISKREQUEST'
    'body': '!insertmacro UMUI_UNPAGE_FILEDISKREQUEST'
  '!insertmacro UMUI_UNPAGE_INFORMATION':
    'prefix': 'UMUI_UNPAGE_INFORMATION'
    'body': '!insertmacro UMUI_UNPAGE_INFORMATION "${1:text_file}"'
  '!insertmacro UMUI_UNPAGE_MULTILANGUAGE':
    'prefix': 'UMUI_UNPAGE_MULTILANGUAGE'
    'body': '!insertmacro UMUI_UNPAGE_MULTILANGUAGE'
  '!insertmacro UMUI_UNPAGE_SERIALNUMBER':
    'prefix': 'UMUI_UNPAGE_SERIALNUMBER'
    'body': '!insertmacro UMUI_UNPAGE_SERIALNUMBER "${1:function}"'
  '!insertmacro UMUI_UNPAGE_SETUPTYPE':
    'prefix': 'UMUI_UNPAGE_SETUPTYPE'
    'body': '!insertmacro UMUI_UNPAGE_SETUPTYPE'
  '!define UMUI_UNWELCOMEFINISHABORTPAGE_INI':
    'prefix': 'UMUI_UNWELCOMEFINISHABORTPAGE_INI'
    'body': '!define UMUI_UNWELCOMEFINISHABORTPAGE_INI "${1:ini_file}"'
  '!define UMUI_USE_ALTERNATE_PAGE':
    'prefix': 'UMUI_USE_ALTERNATE_PAGE'
    'body': '!define UMUI_USE_ALTERNATE_PAGE'
  '!define UMUI_USE_BG':
    'prefix': 'UMUI_USE_BG'
    'body': '!define UMUI_USE_BG "${1:bgskin_name}"'
  '!define UMUI_USE_CUSTOMBG':
    'prefix': 'UMUI_USE_CUSTOMBG'
    'body': '!define UMUI_USE_CUSTOMBG'
  '!define UMUI_USE_UNALTERNATE_PAGE':
    'prefix': 'UMUI_USE_UNALTERNATE_PAGE'
    'body': '!define UMUI_USE_UNALTERNATE_PAGE'
  '!define UMUI_WELCOMEFINISHABORTPAGE_INI':
    'prefix': 'UMUI_WELCOMEFINISHABORTPAGE_INI'
    'body': '!define UMUI_WELCOMEFINISHABORTPAGE_INI "${1:ini_file}"'
