'.source.nsis':
  'InetBgDL::Get':
    'prefix': 'InetBgDL::Get'
    'body': 'InetBgDL::Get "${1:url}" "${2:local_file1}" /END$3'
  'InetBgDL::Get /RESET':
    'prefix': 'InetBgDL::Get /RESET'
    'body': 'InetBgDL::Get /RESET "${1:url}" "${2:local_file1}" /END$3'
  'InetBgDL::GetStats':
    'prefix': 'InetBgDL::GetStats'
    'body': 'InetBgDL::GetStats$1'
