'.source.nsis':
  'UserMgr::AddPrivilege':
    'prefix': 'UserMgr::AddPrivilege'
    'body': 'UserMgr::AddPrivilege "${1:USERID}" "${2:PRIVILEGE}"$3'
  'UserMgr::AddToGroup':
    'prefix': 'UserMgr::AddToGroup'
    'body': 'UserMgr::AddToGroup "${1:USERID}" "${2:GROUPID}"$3'
  'UserMgr::BuiltAccountEnv':
    'prefix': 'UserMgr::BuiltAccountEnv'
    'body': 'UserMgr::BuiltAccountEnv "${1:USERID}" "${2:PASSWORD}"$3'
  'UserMgr::ChangeUserPassword':
    'prefix': 'UserMgr::ChangeUserPassword'
    'body': 'UserMgr::ChangeUserPassword "${1:USERID}" "${2:OLDPASSWORD}" "${3:NEWPASSWORD}"$4'
  'UserMgr::CreateAccount':
    'prefix': 'UserMgr::CreateAccount'
    'body': 'UserMgr::CreateAccount "${1:USERID}" "${2:PASSWORD}" "${3:COMMENT}"$4'
  'UserMgr::CreateAccountEx':
    'prefix': 'UserMgr::CreateAccountEx'
    'body': 'UserMgr::CreateAccountEx "${1:USERID}" "${2:PASSWORD}" "${3:COMMENT}" "${4:FULLNAME}" "${5:USERCOMMENT}" "${6:FLAGS}"$7'
  'UserMgr::CreateGroup':
    'prefix': 'UserMgr::CreateGroup'
    'body': 'UserMgr::CreateGroup "${1:GROUPID}" "${2:COMMENT}"$3'
  'UserMgr::DeleteAccount':
    'prefix': 'UserMgr::DeleteAccount'
    'body': 'UserMgr::DeleteAccount "${1:USERID}"$3'
  'UserMgr::DeleteGroup':
    'prefix': 'UserMgr::DeleteGroup'
    'body': 'UserMgr::DeleteGroup "${1:GROUPID}"$3'
  'UserMgr::GetCurrentDomain':
    'prefix': 'UserMgr::GetCurrentDomain'
    'body': 'UserMgr::GetCurrentDomain$1'
  'UserMgr::GetCurrentUserName':
    'prefix': 'UserMgr::GetCurrentUserName'
    'body': 'UserMgr::GetCurrentUserName$1'
  'UserMgr::GetLocalizedStdAccountName':
    'prefix': 'UserMgr::GetLocalizedStdAccountName'
    'body': 'UserMgr::GetLocalizedStdAccountName "${1:STDACCOUNTSID}"$2'
  'UserMgr::GetSIDFromUserName':
    'prefix': 'UserMgr::GetSIDFromUserName'
    'body': 'UserMgr::GetSIDFromUserName "${1:DOMAIN} "${2:USERID}"$3'
  'UserMgr::GetUserInfo':
    'prefix': 'UserMgr::GetUserInfo'
    'body': 'UserMgr::GetUserInfo "${1:USERID}" "${2:FIELD}"$3'
  'UserMgr::GetUserNameFromSID':
    'prefix': 'UserMgr::GetUserNameFromSID'
    'body': 'UserMgr::GetUserNameFromSID "${1:SID}$2'
  'UserMgr::HasPrivilege':
    'prefix': 'UserMgr::HasPrivilege'
    'body': 'UserMgr::HasPrivilege "${1:USERID}" "${2:PRIVILEGE}"$3'
  'UserMgr::IsMemberOfGroup':
    'prefix': 'UserMgr::IsMemberOfGroup'
    'body': 'UserMgr::IsMemberOfGroup "${1:USERID}" "${2:GROUPID}"$3'
  'UserMgr::RegUnLoadUserHive':
    'prefix': 'UserMgr::RegUnLoadUserHive'
    'body': 'UserMgr::RegUnLoadUserHive "${1:USERID}"$2'
  'UserMgr::RemoveFromGroup':
    'prefix': 'UserMgr::RemoveFromGroup'
    'body': 'UserMgr::RemoveFromGroup "${1:USERID}" "${2:GROUPID}"$3'
  'UserMgr::RemovePrivilege':
    'prefix': 'UserMgr::RemovePrivilege'
    'body': 'UserMgr::RemovePrivilege "${1:USERID}" "${2:PRIVILEGE}"$3'
  'UserMgr::SetRegKeyAccess':
    'prefix': 'UserMgr::SetRegKeyAccess'
    'body': 'UserMgr::SetRegKeyAccess "${1:USERID}" "${2:ROOTKEY}" "${3:REGKEY}" "${4:ACCESSMASK}"$5'
  'UserMgr::SetUserInfo':
    'prefix': 'UserMgr::SetUserInfo'
    'body': 'UserMgr::SetUserInfo "${1:USERID}" "${2:FIELD}" "${3:VALUE}"$4'
