'.source.nsis':
  'PassDialog::Dialog':
    'prefix': 'PassDialog::Dialog'
    'body': 'PassDialog::Dialog "${1:dialog_name}" ${2:parameters}'
  'PassDialog::InitDialog':
    'prefix': 'PassDialog::InitDialog'
    'body': 'PassDialog::InitDialog /NOUNLOAD "${1:dialog_name}" ${2:parameters}'
