'.source.nsis':
  'ZipDLL::extractall':
    'prefix': 'ZipDLL::extractall'
    'body': 'ZipDLL::extractall "${1:SOURCE}" "${2:DESTINATION}"'
  'ZipDLL::extractfile':
    'prefix': 'ZipDLL::extractfile'
    'body': 'ZipDLL::extractfile "${1:SOURCE}" "${2:DESTINATION}" "${3:FILE}"'
