'.source.nsis':
  'Internet::GetLocalHostIP':
    'prefix': 'Internet::GetLocalHostIP'
    'body': 'Internet::GetLocalHostIP \$${1:return_var}$2'
  'Internet::GetLocalHostName':
    'prefix': 'Internet::GetLocalHostName'
    'body': 'Internet::GetLocalHostName \$${1:return_var}$2'
  'Internet::GetUrlCode':
    'prefix': 'Internet::GetUrlCode'
    'body': 'Internet::GetUrlCode "${1:site}" "${2:file}" \$${3:return_var}$4'
