'.source.nsis':
  'MSSQL_OLEDB::SQL_Execute':
    'prefix': 'MSSQL_OLEDB::SQL_Execute'
    'body': 'MSSQL_OLEDB::SQL_Execute "${1:query}"$2'
  'MSSQL_OLEDB::SQL_ExecuteScript':
    'prefix': 'MSSQL_OLEDB::SQL_ExecuteScript'
    'body': 'MSSQL_OLEDB::SQL_ExecuteScript "${1:script}"$2'
  'MSSQL_OLEDB::SQL_GetError':
    'prefix': 'MSSQL_OLEDB::SQL_GetError'
    'body': 'MSSQL_OLEDB::SQL_GetError$1'
  'MSSQL_OLEDB::SQL_GetRow':
    'prefix': 'MSSQL_OLEDB::SQL_GetRow'
    'body': 'MSSQL_OLEDB::SQL_GetRow$1'
  'MSSQL_OLEDB::SQL_Logon':
    'prefix': 'MSSQL_OLEDB::SQL_Logon'
    'body': 'MSSQL_OLEDB::SQL_Logon "${1:server}" "${2:user}" "${3:password}"$4'
  'MSSQL_OLEDB::SQL_Logout':
    'prefix': 'MSSQL_OLEDB::SQL_Logout'
    'body': 'MSSQL_OLEDB::SQL_Logout$1'
