'.source.nsis':
  'ShutdownAllow::Allow':
    'prefix': 'ShutdownAllow::Allow'
    'body': 'ShutdownAllow::Allow /NOUNLOAD$1'
  'ShutdownAllow::Unload':
    'prefix': 'ShutdownAllow::Unload'
    'body': 'ShutdownAllow::Unload$1'
