'.source.nsis':
  'AppAssocReg::ClearUserAssociations':
    'prefix': 'AppAssocReg::ClearUserAssociations'
    'body': 'AppAssocReg::ClearUserAssociations'
  'AppAssocReg::QueryAppIsDefault':
    'prefix': 'AppAssocReg::QueryAppIsDefault'
    'body': 'AppAssocReg::QueryAppIsDefault "${1:app_name}" "${2:assoc_name}" "${3:type}" "${4:level}"'
  'AppAssocReg::QueryAppIsDefaultAll':
    'prefix': 'AppAssocReg::QueryAppIsDefaultAll'
    'body': 'AppAssocReg::QueryAppIsDefaultAll "${1:app_name}" "${2:level}"'
  'AppAssocReg::QueryCurrentDefault':
    'prefix': 'AppAssocReg::QueryCurrentDefault'
    'body': 'AppAssocReg::QueryCurrentDefault "${1:assoc_name}" "${2:type}" "${1:level}"'
  'AppAssocReg::SetAppAsDefault':
    'prefix': 'AppAssocReg::SetAppAsDefault'
    'body': 'AppAssocReg::SetAppAsDefault "${1:app_name}" "${2:assoc_name}" "${1:type}"'
  'AppAssocReg::SetAppAsDefaultAll':
    'prefix': 'AppAssocReg::SetAppAsDefaultAll'
    'body': 'AppAssocReg::SetAppAsDefaultAll "${1:app_name}"'
