'.source.nsis':
  'LockedList::AddApplications':
    'prefix': 'LockedList::AddApplications'
    'body': 'LockedList::AddApplications'
  'LockedList::AddCaption':
    'prefix': 'LockedList::AddCaption'
    'body': 'LockedList::AddCaption "${1:caption}"'
  'LockedList::AddClass':
    'prefix': 'LockedList::AddClass'
    'body': 'LockedList::AddClass "${1:class_with_wildcards}"'
  'LockedList::AddCustom':
    'prefix': 'LockedList::AddCustom'
    'body': 'LockedList::AddCustom "${1:application_name}" "${2:process_name}" \$${3:var}'
  'LockedList::AddCustom /icon':
    'prefix': 'LockedList::AddCustom /icon'
    'body': 'LockedList::AddCustom /icon "${1:icon}" "${2:application_name}" "${3:process_name}" \$${4:var}'
  'LockedList::AddFile':
    'prefix': 'LockedList::AddFile'
    'body': 'LockedList::AddFile "${1:file}"'
  'LockedList::AddFolder':
    'prefix': 'LockedList::AddFolder'
    'body': 'LockedList::AddFolder "${1:folder}"'
  'LockedList::AddModule':
    'prefix': 'LockedList::AddModule'
    'body': 'LockedList::AddModule "${1:file}"'
  'LockedList::Dialog':
    'prefix': 'LockedList::Dialog'
    'body': 'LockedList::Dialog ${1:parameters}'
  'LockedList::EnumProcesses':
    'prefix': 'LockedList::EnumProcesses'
    'body': 'LockedList::EnumProcesses \$${1:var}'
  'LockedList::FindProcess':
    'prefix': 'LockedList::FindProcess'
    'body': 'LockedList::FindProcess "${1:file}"'
  'LockedList::FindProcess /yesno':
    'prefix': 'LockedList::FindProcess /yesno'
    'body': 'LockedList::FindProcess /yesno "${1:file}"'
  'LockedList::InitDialog':
    'prefix': 'LockedList::InitDialog'
    'body': 'LockedList::InitDialog ${1:parameters}'
  'LockedList::IsFileLocked':
    'prefix': 'LockedList::IsFileLocked'
    'body': 'LockedList::IsFileLocked "${1:file}"'
  'LockedList::Show':
    'prefix': 'LockedList::Show'
    'body': 'LockedList::Show'
  'LockedList::SilentPercentComplete':
    'prefix': 'LockedList::SilentPercentComplete'
    'body': 'LockedList::SilentPercentComplete'
  'LockedList::SilentWait':
    'prefix': 'LockedList::SilentWait'
    'body': 'LockedList::SilentWait'
  'LockedList::SilentWait /time':
    'prefix': 'LockedList::SilentWait /time'
    'body': 'LockedList::SilentWait /time ${1:time_in_ms}'
