'.source.nsis':
  'EnumCDs::next':
    'prefix': 'EnumCDs::next'
    'body': 'EnumCDs::next$1'
  'EnumCDs::next /NOUNLOAD':
    'prefix': 'EnumCDs::next /NOUNLOAD'
    'body': 'EnumCDs::next /NOUNLOAD$1'
