'.source.nsis':
  'SpiderBanner::Destroy':
    'prefix': 'SpiderBanner::Destroy'
    'body': 'SpiderBanner::Destroy$1'
  'SpiderBanner::Show':
    'prefix': 'SpiderBanner::Show'
    'body': 'SpiderBanner::Show ${1:position} ${2:distance}$3'
  'SpiderBanner::Show /MODERN':
    'prefix': 'SpiderBanner::Show /MODERN'
    'body': 'SpiderBanner::Show ${1:position} ${2:distance} /MODERN$3'
  'SpiderBanner::ShowPBOnly':
    'prefix': 'SpiderBanner::ShowPBOnly'
    'body': 'SpiderBanner::ShowPBOnly$1'
