'.source.nsis':
  '${RECaptureMatches}':
    'prefix': '${RECaptureMatches}'
    'body': '\${RECaptureMatches} \$${1:result} "${2:pattern}" "${3:subject}" "${4:partial}"$5'
  '${RECheckPattern}':
    'prefix': '${RECheckPattern}'
    'body': '\${RECheckPattern} \$${1:result} "${2:pattern}"$3'
  '${REClearAllOptions}':
    'prefix': '${REClearAllOptions}'
    'body': '\${REClearAllOptions}$1'
  '${REClearOption}':
    'prefix': '${REClearOption}'
    'body': '\${REClearOption} "${1:option}"$2'
  '${REFindClose}':
    'prefix': '${REFindClose}'
    'body': '\${REFindClose}'
  '${REFindNext}':
    'prefix': '${REFindNext}'
    'body': '\${REFindNext} \$${1:result} "${2:pattern}" "${3:subject}"$4'
  '${REFind}':
    'prefix': '${REFind}'
    'body': '\${REFind} \$${1:result} "${2:pattern}" "${3:subject}"$4'
  '${REGetOption}':
    'prefix': '${REGetOption}'
    'body': '\${REGetOption} \$${1:result} "${2:option}"$3'
  '${REMatches}':
    'prefix': '${REMatches}'
    'body': '\${REMatches} \$${1:result} "${2:pattern}" "${3:subject}" "${4:partial}"$5'
  '${REQuoteMeta}':
    'prefix': '${REQuoteMeta}'
    'body': '\${REQuoteMeta} \$${1:result} "${2:subject}"$3'
  '${REReplace}':
    'prefix': '${REReplace}'
    'body': '\${REReplace} \$${1:result} "${2:pattern}" "${3:subject}" "${4:replacement}" ${5:replace_all}$6'
  '${RESetOption}':
    'prefix': '${RESetOption}'
    'body': '\${RESetOption} "${1:option}"$2'
