'.source.nsis':
  'liteFirewall::AddRule':
    'prefix': 'liteFirewall::AddRule'
    'body': 'liteFirewall::AddRule "${1:application_path}" "${2:rule_name}"$3'
  'liteFirewall::RemoveRule':
    'prefix': 'liteFirewall::RemoveRule'
    'body': 'liteFirewall::RemoveRule "${1:application_path}" "${2:rule_name}"$3'
