'.source.nsis':
  'Nsis7z::Extract':
    'prefix': 'Nsis7z::Extract'
    'body': 'Nsis7z::Extract "${1:file}.7z"$2'
  'Nsis7z::ExtractWithCallback':
    'prefix': 'Nsis7z::ExtractWithCallback'
    'body': 'Nsis7z::ExtractWithCallback "${1:file}.7z" \$${2:var}$3'
  'Nsis7z::ExtractWithDetails':
    'prefix': 'Nsis7z::ExtractWithDetails'
    'body': 'Nsis7z::ExtractWithDetails "${1:file}.7z" "${2:%s}"$3'
