'.source.nsis':
  'NsisIIS::IterateChunk':
    'prefix': 'NsisIIS::IterateChunk'
    'body': 'NsisIIS::IterateChunk /NOUNLOAD "${1:url}"'
  'NsisIIS::IterateLine':
    'prefix': 'NsisIIS::IterateLine'
    'body': 'NsisIIS::IterateLine /NOUNLOAD "${1:url}"'
  'NsisUrlLib::UrlOpen':
    'prefix': 'NsisUrlLib::UrlOpen'
    'body': 'NsisUrlLib::UrlOpen /NOUNLOAD "${1:url}"'
