'.source.nsis':
  '${Time::GetFileTimeUTC}':
    'prefix': '${Time::GetFileTimeUTC}'
    'body': '\${Time::GetFileTimeUTC} "${1:file}" \$${2:creation_time} \$${3:last_write_time} \$${4:last_access_time}'
  '${Time::GetFileTime}':
    'prefix': '${Time::GetFileTime}'
    'body': '\${Time::GetFileTime} "${1:file}" \$${2:creation_time} \$${3:last_write_time} \$${4:last_access_time}'
  '${Time::GetLocalTimeUTC}':
    'prefix': '${Time::GetLocalTimeUTC}'
    'body': '\${Time::GetLocalTimeUTC} \$${1:var}'
  '${Time::MathTime}':
    'prefix': '${Time::MathTime}'
    'body': '\${Time::MathTime} "${1:expression}" \$${2:var}'
  '${Time::SetFileTimeUTC}':
    'prefix': '${Time::SetFileTimeUTC}'
    'body': '\${Time::SetFileTimeUTC} "${1:file}" "$${2:creation_time}" "${3:last_write_time}" "${4:last_access_time}" \$${5:var}'
  '${Time::SetFileTime}':
    'prefix': '${Time::SetFileTime}'
    'body': '\${Time::SetFileTime} "${1:file}" "$${2:creation_time}" "${3:last_write_time}" "${4:last_access_time}" \$${5:var}'
  '${Time::SetLocalTimeUTC}':
    'prefix': '${Time::SetLocalTimeUTC}'
    'body': '\${Time::SetLocalTimeUTC} "${1:local_time}" \$${2:var}'
  '${Time::SetLocalTime}':
    'prefix': '${Time::SetLocalTime}'
    'body': '\${Time::SetLocalTime} "${1:local_time}" \$${2:var}'
  '${Time::TimeString}':
    'prefix': '${Time::TimeString}'
    'body': '\${Time::TimeString} "${1:time}" \$${2:day} \$${3:month} \$${4:year} \$${5:hour} \$${6:minute} \$${7:second}'
  '${Time::Unload}':
    'prefix': '${Time::Unload}'
    'body': '\${Time::Unload}'
