".source.nsis":
  "SimpleSC::ContinueService":
    body: "SimpleSC::ContinueService ${1:name_of_service} ${2:timeout}$3"
    description: "Usage: SimpleSC::ContinueService name_of_service timeout"
    descriptionMoreURL: "http://nsis.sourceforge.net/NSIS_Simple_Service_Plugin"
    leftLabelHTML: "<span class=\'support class\'>SimpleSC.dll</span>"
    prefix: "SimpleSC::ContinueService"
  "SimpleSC::ExistsService":
    body: "SimpleSC::ExistsService ${1:name_of_service}$2"
    description: "Usage: SimpleSC::ExistsService name_of_service"
    descriptionMoreURL: "http://nsis.sourceforge.net/NSIS_Simple_Service_Plugin"
    leftLabelHTML: "<span class=\'support class\'>SimpleSC.dll</span>"
    prefix: "SimpleSC::ExistsService"
  "SimpleSC::GetErrorMessage":
    body: "SimpleSC::GetErrorMessage ${1:error_code}$2"
    description: "Usage: SimpleSC::GetErrorMessage error_code"
    descriptionMoreURL: "http://nsis.sourceforge.net/NSIS_Simple_Service_Plugin"
    leftLabelHTML: "<span class=\'support class\'>SimpleSC.dll</span>"
    prefix: "SimpleSC::GetErrorMessage"
  "SimpleSC::GetServiceBinaryPath":
    body: "SimpleSC::GetServiceBinaryPath ${1:name_of_service}$2"
    description: "Usage: SimpleSC::GetServiceBinaryPath name_of_service"
    descriptionMoreURL: "http://nsis.sourceforge.net/NSIS_Simple_Service_Plugin"
    leftLabelHTML: "<span class=\'support class\'>SimpleSC.dll</span>"
    prefix: "SimpleSC::GetServiceBinaryPath"
  "SimpleSC::GetServiceDescription":
    body: "SimpleSC::GetServiceDescription ${1:name_of_service}$2"
    description: "Usage: SimpleSC::GetServiceDescription name_of_service"
    descriptionMoreURL: "http://nsis.sourceforge.net/NSIS_Simple_Service_Plugin"
    leftLabelHTML: "<span class=\'support class\'>SimpleSC.dll</span>"
    prefix: "SimpleSC::GetServiceDescription"
  "SimpleSC::GetServiceDisplayName":
    body: "SimpleSC::GetServiceDisplayName ${1:name_of_service}$2"
    description: "Usage: SimpleSC::GetServiceDisplayName name_of_service"
    descriptionMoreURL: "http://nsis.sourceforge.net/NSIS_Simple_Service_Plugin"
    leftLabelHTML: "<span class=\'support class\'>SimpleSC.dll</span>"
    prefix: "SimpleSC::GetServiceDisplayName"
  "SimpleSC::GetServiceFailure":
    body: "SimpleSC::GetServiceFailure ${1:name_of_service}$2"
    description: "Usage: SimpleSC::GetServiceFailure name_of_service"
    descriptionMoreURL: "http://nsis.sourceforge.net/NSIS_Simple_Service_Plugin"
    leftLabelHTML: "<span class=\'support class\'>SimpleSC.dll</span>"
    prefix: "SimpleSC::GetServiceFailure"
  "SimpleSC::GetServiceFailureFlag":
    body: "SimpleSC::GetServiceFailureFlag ${1:name_of_service}$2"
    description: "Usage: SimpleSC::GetServiceFailureFlag name_of_service"
    descriptionMoreURL: "http://nsis.sourceforge.net/NSIS_Simple_Service_Plugin"
    leftLabelHTML: "<span class=\'support class\'>SimpleSC.dll</span>"
    prefix: "SimpleSC::GetServiceFailureFlag"
  "SimpleSC::GetServiceLogon":
    body: "SimpleSC::GetServiceLogon ${1:name_of_service}$2"
    description: "Usage: SimpleSC::GetServiceLogon name_of_service"
    descriptionMoreURL: "http://nsis.sourceforge.net/NSIS_Simple_Service_Plugin"
    leftLabelHTML: "<span class=\'support class\'>SimpleSC.dll</span>"
    prefix: "SimpleSC::GetServiceLogon"
  "SimpleSC::GetServiceName":
    body: "SimpleSC::GetServiceName ${1:display_name}$2"
    description: "Usage: SimpleSC::GetServiceName display_name"
    descriptionMoreURL: "http://nsis.sourceforge.net/NSIS_Simple_Service_Plugin"
    leftLabelHTML: "<span class=\'support class\'>SimpleSC.dll</span>"
    prefix: "SimpleSC::GetServiceName"
  "SimpleSC::GetServiceStartType":
    body: "SimpleSC::GetServiceStartType ${1:name_of_service}$2"
    description: "Usage: SimpleSC::GetServiceStartType name_of_service"
    descriptionMoreURL: "http://nsis.sourceforge.net/NSIS_Simple_Service_Plugin"
    leftLabelHTML: "<span class=\'support class\'>SimpleSC.dll</span>"
    prefix: "SimpleSC::GetServiceStartType"
  "SimpleSC::GetServiceStatus":
    body: "SimpleSC::GetServiceStatus ${1:name_of_service}$2"
    description: "Usage: SimpleSC::GetServiceStatus name_of_service"
    descriptionMoreURL: "http://nsis.sourceforge.net/NSIS_Simple_Service_Plugin"
    leftLabelHTML: "<span class=\'support class\'>SimpleSC.dll</span>"
    prefix: "SimpleSC::GetServiceStatus"
  "SimpleSC::GrantServiceLogonPrivilege":
    body: "SimpleSC::GrantServiceLogonPrivilege ${1:account}$2"
    description: "Usage: SimpleSC::GrantServiceLogonPrivilege account"
    descriptionMoreURL: "http://nsis.sourceforge.net/NSIS_Simple_Service_Plugin"
    leftLabelHTML: "<span class=\'support class\'>SimpleSC.dll</span>"
    prefix: "SimpleSC::GrantServiceLogonPrivilege"
  "SimpleSC::InstallService":
    body: "SimpleSC::InstallService ${1:name_of_service} ${2:display_name} ${3:service_type} ${4:start_type} ${5:binary_path} ${6:dependencies} ${7:account} ${8:password}$9"
    description: "Usage: SimpleSC::InstallService name_of_service display_name service_type start_type binary_path dependencies account password"
    descriptionMoreURL: "http://nsis.sourceforge.net/NSIS_Simple_Service_Plugin"
    leftLabelHTML: "<span class=\'support class\'>SimpleSC.dll</span>"
    prefix: "SimpleSC::InstallService"
  "SimpleSC::PauseService":
    body: "SimpleSC::PauseService ${1:name_of_service} ${2:timeout}$3"
    description: "Usage: SimpleSC::PauseService name_of_service timeout"
    descriptionMoreURL: "http://nsis.sourceforge.net/NSIS_Simple_Service_Plugin"
    leftLabelHTML: "<span class=\'support class\'>SimpleSC.dll</span>"
    prefix: "SimpleSC::PauseService"
  "SimpleSC::RemoveService":
    body: "SimpleSC::SimpleSC::RemoveService ${1:name_of_service}$2"
    description: "Usage: SimpleSC::SimpleSC::RemoveService name_of_service"
    descriptionMoreURL: "http://nsis.sourceforge.net/NSIS_Simple_Service_Plugin"
    leftLabelHTML: "<span class=\'support class\'>SimpleSC.dll</span>"
    prefix: "SimpleSC::RemoveService"
  "SimpleSC::RemoveServiceLogonPrivilege":
    body: "SimpleSC::RemoveServiceLogonPrivilege ${1:account}$2"
    description: "Usage: SimpleSC::RemoveServiceLogonPrivilege account"
    descriptionMoreURL: "http://nsis.sourceforge.net/NSIS_Simple_Service_Plugin"
    leftLabelHTML: "<span class=\'support class\'>SimpleSC.dll</span>"
    prefix: "SimpleSC::RemoveServiceLogonPrivilege"
  "SimpleSC::RestartService":
    body: "SimpleSC::RestartService ${1:name_of_service} ${2:arguments} ${3:timeout}$4"
    description: "Usage: SimpleSC::RestartService name_of_service arguments timeout"
    descriptionMoreURL: "http://nsis.sourceforge.net/NSIS_Simple_Service_Plugin"
    leftLabelHTML: "<span class=\'support class\'>SimpleSC.dll</span>"
    prefix: "SimpleSC::RestartService"
  "SimpleSC::ServiceIsPaused":
    body: "SimpleSC::ServiceIsPaused ${1:name_of_service}$2"
    description: "Usage: SimpleSC::ServiceIsPaused name_of_service"
    descriptionMoreURL: "http://nsis.sourceforge.net/NSIS_Simple_Service_Plugin"
    leftLabelHTML: "<span class=\'support class\'>SimpleSC.dll</span>"
    prefix: "SimpleSC::ServiceIsPaused"
  "SimpleSC::ServiceIsRunning":
    body: "SimpleSC::ServiceIsRunning ${1:name_of_service}$2"
    description: "Usage: SimpleSC::ServiceIsRunning name_of_service"
    descriptionMoreURL: "http://nsis.sourceforge.net/NSIS_Simple_Service_Plugin"
    leftLabelHTML: "<span class=\'support class\'>SimpleSC.dll</span>"
    prefix: "SimpleSC::ServiceIsRunning"
  "SimpleSC::ServiceIsStopped":
    body: "SimpleSC::ServiceIsStopped ${1:name_of_service}$2"
    description: "Usage: SimpleSC::ServiceIsStopped name_of_service"
    descriptionMoreURL: "http://nsis.sourceforge.net/NSIS_Simple_Service_Plugin"
    leftLabelHTML: "<span class=\'support class\'>SimpleSC.dll</span>"
    prefix: "SimpleSC::ServiceIsStopped"
  "SimpleSC::SetServiceBinaryPath":
    body: "SimpleSC::SetServiceBinaryPath ${1:name_of_service} ${2:binary_path}$3"
    description: "Usage: SimpleSC::SetServiceBinaryPath name_of_service binary_path"
    descriptionMoreURL: "http://nsis.sourceforge.net/NSIS_Simple_Service_Plugin"
    leftLabelHTML: "<span class=\'support class\'>SimpleSC.dll</span>"
    prefix: "SimpleSC::SetServiceBinaryPath"
  "SimpleSC::SetServiceDelayedAutoStartInfo":
    body: "SimpleSC::SetServiceDelayedAutoStartInfo ${1:name_of_service} ${2:delayed_autostart}$3"
    description: "Usage: SimpleSC::SetServiceDelayedAutoStartInfo name_of_service delayed_autostart"
    descriptionMoreURL: "http://nsis.sourceforge.net/NSIS_Simple_Service_Plugin"
    leftLabelHTML: "<span class=\'support class\'>SimpleSC.dll</span>"
    prefix: "SimpleSC::SetServiceDelayedAutoStartInfo"
  "SimpleSC::SetServiceDescription":
    body: "SimpleSC::SetServiceDescription ${1:name_of_service} ${2:service_description}$3"
    description: "Usage: SimpleSC::SetServiceDescription name_of_service service_description"
    descriptionMoreURL: "http://nsis.sourceforge.net/NSIS_Simple_Service_Plugin"
    leftLabelHTML: "<span class=\'support class\'>SimpleSC.dll</span>"
    prefix: "SimpleSC::SetServiceDescription"
  "SimpleSC::SetServiceFailure":
    body: "SimpleSC::SetServiceFailure ${1:name_of_service} ${2:reset_period} ${3:reboot_message} ${4:command} ${5:action_type_1} ${6:action_delay_1} ${7:action_type_2} ${8:action_delay_2} ${9:action_type_3} ${10:action_delay_3}$11"
    description: "Usage: SimpleSC::SetServiceFailure name_of_service reset_period reboot_message command action_type_1 action_delay_1 action_type_2 action_delay_2 action_type_3 :action_delay_3"
    descriptionMoreURL: "http://nsis.sourceforge.net/NSIS_Simple_Service_Plugin"
    leftLabelHTML: "<span class=\'support class\'>SimpleSC.dll</span>"
    prefix: "SimpleSC::SetServiceFailure"
  "SimpleSC::SetServiceFailureFlag":
    body: "SimpleSC::SetServiceFailureFlag ${1:name_of_service} ${2:failure_actions_on_non_crash_failures}$3"
    description: "Usage: SimpleSC::SetServiceFailureFlag name_of_service failure_actions_on_non_crash_failures"
    descriptionMoreURL: "http://nsis.sourceforge.net/NSIS_Simple_Service_Plugin"
    leftLabelHTML: "<span class=\'support class\'>SimpleSC.dll</span>"
    prefix: "SimpleSC::SetServiceFailureFlag"
  "SimpleSC::SetServiceStartType":
    body: "SimpleSC::SetServiceStartType ${1:name_of_service} ${2:start_type}$3"
    description: "Usage: SimpleSC::SetServiceStartType name_of_service start_type"
    descriptionMoreURL: "http://nsis.sourceforge.net/NSIS_Simple_Service_Plugin"
    leftLabelHTML: "<span class=\'support class\'>SimpleSC.dll</span>"
    prefix: "SimpleSC::SetServiceStartType"
  "SimpleSC::StopService":
    body: "SimpleSC::StopService ${1:name_of_service} ${2:wait_for_file_release} ${3:timeout}$4"
    description: "Usage: SimpleSC::StopService name_of_service wait_for_file_release timeout"
    descriptionMoreURL: "http://nsis.sourceforge.net/NSIS_Simple_Service_Plugin"
    leftLabelHTML: "<span class=\'support class\'>SimpleSC.dll</span>"
    prefix: "SimpleSC::StopService"
