'.source.nsis':
  'nsmci::GetErrorString':
    'prefix': 'nsmci::GetErrorString'
    'body': 'nsmci::GetErrorString "${1:error_code}"$2'
  'nsmci::GetFirstCDROMDrive':
    'prefix': 'nsmci::GetFirstCDROMDrive'
    'body': 'nsmci::GetFirstCDROMDrive$1'
  'nsmci::SendString':
    'prefix': 'nsmci::SendString'
    'body': 'nsmci::SendString "${1:command}"$2'
