'.source.nsis':
  'ShellExecAsUser':
    'prefix': 'ShellExecAsUser'
    'body': 'ShellExecAsUser::ShellExecAsUser ${1:action} "${2:command}"$3'
  'ShellExecAsUser open':
    'prefix': 'ShellExecAsUser open'
    'body': 'ShellExecAsUser::ShellExecAsUser open "${1:command}"$2'
  'ShellExecAsUser print':
    'prefix': 'ShellExecAsUser print'
    'body': 'ShellExecAsUser::ShellExecAsUser print "${1:command}"$2'
