'.source.nsis':
  'nsScreenshot::Grab':
    'prefix': 'nsScreenshot::Grab'
    'body': 'nsScreenshot::Grab$1'
  'nsScreenshot::Grab_FullScreen':
    'prefix': 'nsScreenshot::Grab_FullScreen'
    'body': 'nsScreenshot::Grab_FullScreen$1'
