'.source.nsis':
  'EnumINI::KeyExist':
    'prefix': 'EnumINI::KeyExist'
    'body': 'EnumINI::KeyExist "${1:file}.ini" "${2:section}" "${3:key}"$4'
  'EnumINI::Section':
    'prefix': 'EnumINI::Section'
    'body': 'EnumINI::Section "${1:file}.ini" "${2:section}"$3'
  'EnumINI::SectionExist':
    'prefix': 'EnumINI::SectionExist'
    'body': 'EnumINI::SectionExist "${1:file}.ini" "${2:section}"$3'
  'EnumINI::SectionNames':
    'prefix': 'EnumINI::SectionNames'
    'body': 'EnumINI::SectionNames "${1:file}.ini"$2'
