'.source.nsis':
  'ScrollLicense::Set':
    'prefix': 'ScrollLicense::Set'
    'body': 'ScrollLicense::Set /NOUNLOAD'
  'ScrollLicense::Unload':
    'prefix': 'ScrollLicense::Unload'
    'body': 'ScrollLicense::Unload'
